/* Typography
------------------------*/

@font-face {
  font-family: 'Arial Narrow';
  src: url('ArialNarrow.eot');
  src: local('Arial Narrow'), local('Arial Narrow Regular'),
       url('ArialNarrow.otf') format('opentype');
}

body {
  font: 100%/120% @base-font;
  color:@color-base-font;
}

figcaption {
    font-family: @caption-font;
    font-size:140%;
    line-height:200%;
}